apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    name: apps
    usage: personal-applications

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: personal-web
  namespace: apps
  labels:
    app: personal-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: personal-web
  template:
    metadata:
      labels:
        app: personal-web
    spec:
      containers:
      - name: web
        image: ghcr.io/parinpan/fachr.in:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 9000
        env:
        - name: build_date
          value: '{{build_date}}'

---

apiVersion: v1
kind: Service
metadata:
  name: personal-web-service
  namespace: apps
spec:
  ports:
  - port: 9000
    targetPort: 9000
  selector:
    app: personal-web
