name: ci

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
        
      - name: Login to GHCR
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/fachr.in:latest
          
  deploy:
    name: Production Deployment
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
        
      - name: Prepare Deployment Source  
        run: |
          sed -ie "s/{{build_date}}/$(date)/g" deployment.yaml

      - name: Trigger Deployment
        uses: actions-hub/kubectl@v1.29.0
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: apply -f deployment.yaml --validate=false
